/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.callout-header-row {
	display: flex;
	align-items: center;
	gap: 8px;
}
